.environment
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100vh;
    height: 100vh;
}

.environment.hover
{
    animation: environment-hover 1s infinite alternate;
}

@keyframes environment-hover
{
    from
    {
        filter: brightness(1);
    }

    to
    {
        filter: brightness(1.5);
    }
}