.environment:not(:first-child)
{
    position: absolute;
    top: 0;
    left: 0;
}

.environment
{
    user-select: none;
    pointer-events: none;
}

.environment-container:not(.navigation) .environment
{
    width: 100vh;
    height: 100vh;
}

.environment.hovering
{
    animation: environment-hover 1s infinite;

    /* // TODO: this does not work */
    cursor: pointer;
}

@keyframes environment-hover
{
    from
    {
        filter: brightness(1);
    }

    50%
    {
        filter: brightness(1.5);
    }
    
    to
    {
        filter: brightness(1);
    }
}
